$primary-light: #D0D7FF;
$primary-dark: #001ECB;
$background: #f5f5f5;
$text-primary: #001ECB;
$text-secondary: #555;
$border-color: #c1c7ff;
$hover-bg: #c7d0ff;

.searchContainer {
    // centraliza no meio da tela
    width: 100%;
    max-width: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    flex-direction: column;
    
}

.input {
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-family: "Kantumruy Pro", sans-serif;
    border: 1px solid #0022e0;
    border-radius: 9999px;
    outline: none;
    transition: border-color 0.3s ease;
    color: $text-primary;
    background-color: $background;

    @media (max-width: 756px) {
        width: 80%;
    }


    &:focus {
        border-color: $primary-dark;
    }

    &::placeholder {
        color: lighten($primary-dark, 40%);
    }
}

.loadingBar {
    position: relative;
    height: 4px;
    background: $primary-light;
    overflow: hidden;
    border-radius: 4px;


    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -30%;
        height: 100%;
        width: 30%;
        background: $primary-dark;
        border-radius: 4px;
        animation: loadingMove 1.2s ease-in-out infinite;
    }
}

@keyframes loadingMove {
    0% {
        left: -30%;
        width: 30%;
    }

    50% {
        left: 35%;
        width: 30%;
    }

    100% {
        left: 100%;
        width: 30%;
    }
}

.overlay {
    position: fixed;
    // altura do searchContainer (aprox)
    left: 0;
    width: 100%;
    height: 100vh;
    // background: rgba(0, 0, 0, 0.5);
    z-index: 999999;
}

.results {
    position: fixed;
    top: 56px; // logo abaixo do searchContainer
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    margin-top: 7px;
    max-width: 720px;
    max-height: 320px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba($primary-dark, 0.15);
    overflow-y: auto;
    z-index: 99999999;





}

.noResults {
    text-align: center;
    color: $text-secondary;
    font-style: italic;
    padding: 1rem 0;
}

.userList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.userItem {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 8px;

    &:hover,
    &:focus {
        background-color: $hover-bg;
        outline: none;
    }
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 1rem;
    border: 2px solid $primary-light;
    object-fit: cover;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: 600;
    color: $text-primary;
    font-size: 1rem;
}

.username {
    font-size: 0.875rem;
    color: $text-secondary;
    margin-top: 2px;
}