@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 8rem 2rem 2rem 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.formSection {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;


    h2 {
        font-family: "Kantumruy Pro", sans-serif;
        font-weight: 600;
        color: #001ECB;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        border-bottom: 1px solid #eee;
        padding-bottom: 0.5rem;
    }
}

.inputGroup {
    margin-bottom: 1.5rem;

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 500;
        color: #34495e;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="url"],
    input[type="password"],
    input[type="number"],
    select,
    textarea {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid #D0D7FF;
        border-radius: 4px;
        font-size: 1rem;
        transition: border-color 0.3s;

        &:focus {
            outline: none;
            border: 1px solid #001ECB;

        }
    }

    textarea {
        min-height: 100px;
        resize: vertical;
    }

    input[type="checkbox"] {
        margin-right: 0.5rem;
    }
}

.checkboxGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .checkboxLabel {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

.submitButton {
    background-color: #001ECB;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: color.adjust(#001ECB, $lightness: -10%);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.overlayContent {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1001;
    position: relative;
    max-width: 500px;

    h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color: #001ECB;
        font-family: "Kantumruy Pro", sans-serif;
        font-weight: 500;
    }

    p {
        color: #34495e;
    }

    span {
        position: absolute;
        top: 0rem;
        right: 1rem;
        cursor: pointer;
        font-size: 1.5rem;
        color: #34495e;

        &:hover {
            color: #001ECB;
        }
    }
}