@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

.closeDiv {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5px;
    font-size: 18px;
    padding: 0.5rem;
    cursor: pointer;
}

.mainDiv {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: opacity 0.3s ease, transform 0.3s ease;

    .popupBox {
        width: 450px;
        max-width: 95%; // responsividade
        min-height: 200px;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        position: relative;

        .welcomeDiv {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            text-align: center;

            .welcomeToText,
            .vemfaculText {
                font-family: "Kantumruy Pro", sans-serif;
                font-weight: 600;
                font-size: 20px;
                margin: 0;
            }

            .vemfaculText {
                color: #001ECB;
                font-weight: 700;
            }
        }

        .mainFormDiv {
            display: flex;
            flex-direction: column;
            width: 100%;

            .emailDiv,
            .passwordDiv {
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;

                label {
                    font-family: "Kantumruy Pro", sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    color: #000;
                    margin-bottom: 5px;
                }

                input {
                    width: 100%;
                    height: 50px;
                    border-radius: 5px;
                    background-color: #D0D7FF;
                    padding: 0 10px;
                    font-family: "Kantumruy Pro", sans-serif;
                    font-size: 16px;
                    border: none;
                    outline: none;

                    &:focus {
                        outline: 1px solid #b4b4b4;
                    }
                }
            }

            .buttonDiv {
                display: flex;
                justify-content: center;
                width: 100%;

                .buttonEntrar {
                    width: 100%;
                    height: 40px;
                    background-color: #001ECB;
                    border-radius: 5px;
                    border: none;
                    color: #fff;
                    font-family: "Kantumruy Pro", sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

                    &:hover {
                        background-color: #0041FF;
                    }

                    &:active {
                        background-color: #000EA1;
                        transition: background-color 0.1s ease;
                    }
                }
            }

            .noAccountDiv {
                display: flex;
                justify-content: center;
                margin-top: 15px;
                gap: 5px;
                flex-wrap: wrap;

                .noAccountText,
                .createAccountText {
                    font-family: "Kantumruy Pro", sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                }

                .createAccountText {
                    color: #001ECB;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .forgotPasswordDiv {
                display: flex;
                justify-content: center;
                margin-bottom: 20px;

                .forgotPasswordText {
                    font-family: "Kantumruy Pro", sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    color: #001ECB;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        .checkEmailDiv {
            width: 100%;
            text-align: center;

            .checkEmail {
                display: flex;
                justify-content: center;

                .checkEmailText {
                    font-family: "Kantumruy Pro", sans-serif;
                    font-weight: 500;
                    font-size: 20px;
                    color: #000EA1;
                    margin: 0;
                }
            }

            .checkEmailDescription {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-top: 10px;
                width: 100%;
                text-align: center;

                .checkEmailDescriptionText {
                    font-family: "Kantumruy Pro", sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    color: #000;
                    margin: 5px 0;
                }
            }
        }
    }
}

/* Responsividade */
@media (max-width: 640px) {
    .mainDiv .popupBox {
        width: 95%;
        padding: 15px;

        .welcomeDiv .welcomeToText,
        .welcomeDiv .vemfaculText {
            font-size: 18px;
        }

        .mainFormDiv .emailDiv label,
        .mainFormDiv .passwordDiv label,
        .mainFormDiv .buttonDiv .buttonEntrar,
        .mainFormDiv .noAccountDiv .noAccountText,
        .mainFormDiv .noAccountDiv .createAccountText,
        .mainFormDiv .forgotPasswordDiv .forgotPasswordText {
            font-size: 14px;
        }

        .mainFormDiv .emailDiv input,
        .mainFormDiv .passwordDiv input {
            height: 45px;
            font-size: 14px;
        }

        .checkEmailDiv .checkEmail .checkEmailText {
            font-size: 18px;
        }

        .checkEmailDiv .checkEmailDescription .checkEmailDescriptionText {
            font-size: 14px;
        }

        .closeDiv {
            position: absolute;
            right: 0;
            top: 0;
            margin-right: 5px;
            font-size: 18px;
            padding: 0.5rem;
        }
    }
}

@media (max-width: 400px) {
    .mainDiv .popupBox {
        padding: 10px;

        .welcomeDiv .welcomeToText,
        .welcomeDiv .vemfaculText {
            font-size: 16px;
        }

        .mainFormDiv .emailDiv label,
        .mainFormDiv .passwordDiv label,
        .mainFormDiv .buttonDiv .buttonEntrar,
        .mainFormDiv .noAccountDiv .noAccountText,
        .mainFormDiv .noAccountDiv .createAccountText,
        .mainFormDiv .forgotPasswordDiv .forgotPasswordText {
            font-size: 12px;
        }

        .mainFormDiv .emailDiv input,
        .mainFormDiv .passwordDiv input {
            height: 40px;
            font-size: 12px;
        }

        .checkEmailDiv .checkEmail .checkEmailText {
            font-size: 16px;
        }

        .checkEmailDiv .checkEmailDescription .checkEmailDescriptionText {
            font-size: 12px;
        }
    }
}