.mainDiv {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99999999;

    .popupBox {
        width: 500px;
        height: 300px;
        background-color: #fff;
        border-radius: 10px;
    }

}