.container {
    display: flex;
    justify-content: center;
    /* centro na horizontal */
    min-height: 100vh;
    background: #f5f7ff;
    color: #001ECB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    // aside {
    //     padding: 3rem 0 0 0;
    // }
}

.main {
    flex: 3;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: white;
    box-shadow: 0 0 15px rgba(0, 30, 203, 0.1);


}

.sidebar {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    width: 100%;
    max-width: 720px;

}